.history-box .history-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.history-box .history-list {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.history-box .history-list .search-history-text {
  max-width: 200px;
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-box .history-clear {
  width: 50%;
  background-color: #efefef;
  padding: 10px;
  margin: auto;
  border-radius: 50px;
  text-align: center;
}
