.search-box {
  // 使搜索框保持在顶部
  position: sticky;  // 位置固定
  // 距顶部距离
  top: 0;
  // 提高图层层级防止被轮播图覆盖
  z-index: 999;
}
.swiper {
  // taro中设置px 编译成 wxss之后 px -> rpx
  height: 330px;
  image {
    width: 100%;
    height: 100%;
  }
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  
  .nav-img {
    width: 128px;
    height: 140px;
  }
}

.floor-title-img {
  width: 100%;
  height: 60px;
}

.right-img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.floor-img-box {
  display: flex;
  padding-left: 10px;
}