.goods-item {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.goods-item .goods-item-left .goods-img {
  width: 200px;
  height: 200px;
  display: block;
  margin-right: 10px;
}

.goods-item .goods-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods-item .goods-item-right .goods-name {
  font-size: 26px;
}

.goods-item .goods-item-right .goods-info .goods-info-price {
  color: #c00000;
  font-size: 32px;
}
