.sugg-list {
  padding: 0 10px;
}

.sugg-list .sugg-item {
  font-size: 24px;
  padding: 26px 0;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sugg-list .sugg-item .goods-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
}
